<section class="my-5">
  <h1 class=" text-2xl text-center text-main my-2">Forget Password</h1>
  @if (step == 1) {
  <form
    [formGroup]="verifyEmail"
    (ngSubmit)="verifyEmailSubmit()"
    class="bg-main-light rounded shadow p-3 my-3"
  >
    <div class="my-2">
      <label for="email">email :</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        class="w-full rouneded p-1"
      />
    </div>
    <button [disabled]="verifyEmail.invalid" class=" p-3 rounded btn-main">
      Verify Email
    </button>
  </form>

} @else if (step ==2) {
  <form
    [formGroup]="verifyCode"
    (ngSubmit)="verifyCodeSubmit()"
    formControlName="resetCode"
    class="bg-main-light rounded shadow p-3"
  >
    <div class="my-2">
      <label for="resetCode">resetCode :</label>
      <input
        type="text"
        formControlName="resetCode"
        id="resetCode"
        class="w-full rouneded p-1"
      />
    </div>
    <button [disabled]="verifyCode.invalid" class="p-3 rounded btn-main">
      Verify Code
    </button>
  </form>
  } @else if (step ==3){
    <div class="my-2">
      <label for="email">email :</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        class="w-full rouneded p-1"
      />
    </div>
    <div class="my-2">
      <label for="newPassword">new password :</label>
      <input
        type="password"
        formControlName="newPassword"
        id="newPassword"
        class="w-full rounded p-1"
      />
    </div>
    <button [disabled]="resetPassword.invalid" class="p-3 rounded btn-main">
      Verify Password
    </button>
  }
</section>
