<section class="my-3">
  <h1 class="text-main text-2xl fw-bold text-center">All Brands</h1>
  <div class="flex flex-wrap my-4">
    @if (allBrands.length) { @for ( b of allBrands; track $index) {
        <div  class="md:w-3/12 lg:w-4/12  p-3" [routerLink]="['/brandsdetails' , b._id]">
            <div class="product p-2 cursor-pointer">
                <img class="w-full" [src]="b.image" [alt]="b.name" />
                <p class="text-gray-700 text-center fw-bold">{{ b.name }}</p>
              </div>
        </div>
   

    } }
  </div>
</section>
